<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="bootstrap.bundle.min.js"></script>
</head>

<body>
  <main>
  
    <form class="d-flex">

    </form>
    </div>
    </div>
    </nav>
    <p>
    <h6>ABOUT US PAGE</h6>
    </p>

    <p>
    <div class="card" style="width: 18rem; border: rgb(12, 12, 12) solid 2px;">
      <-- <h5 class="card-title">Image x</h5> -->
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Download</a> -->
        </div>
        </p>
        <a href="#" class="btn btn-primary">Download</a>
    </div>
    </div>
    <p>
      <body>
        <form>
          A few Details About the Project
          <input type="text" Name="Text">
        </form>
      </body>
    </p>
    <p>
    <div class="card" style="width: 18rem; border: rgb(12, 12, 12) solid 2px;">
      <-- <h5 class="card-title">Image Y</h5> -->
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Download</a> -->
        </div>
        </p>
        <a href="#" class="btn btn-primary">Download</a>
    </div>
    </div>
    <p>
      <body>
        <form>
          A few Details About the Team
          <input type="text" Name="Text">
        </form>
      </body>
    </p>
</body>
</html>