<input style="visibility: hidden;" id="page" name="page" value=<%=page %>> </input>
<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
  <button type="submit"
  onclick="var count = parseInt(document.getElementById('page').value);document.getElementById('page').value = count-1;"
  type="submit" class="btn btn-primary">
  < Prev</button>
    <div align="right"><button type="submit"
        onclick="var count = parseInt(document.getElementById('page').value); document.getElementById('page').value = count+1;"
        type="submit" class="btn btn-primary"> Next ></button>
    </div>
</div>